In [30]:
import numpy as np
import pandas as pd
from pygmid import Lookup as lk

#### Technology data

In [31]:
table_path = '/home/bmurmann/eda/designs/Book-on-gm-ID-design/starter_files_open_source_tools/ihp-sg13g2/simulation/'
n = lk(table_path+'sg13_lv_nmos.mat')

#### Specifications

In [32]:
gm = 10e-3

#### Design choices

In [33]:
l = 0.13
gm_id = np.array([5, 15, 25])

#### Sizing and benchmarking

In [34]:
id = gm/gm_id
jd = n.lookup('ID_W', GM_ID=gm_id, L=l)
w = id/jd

cgg_w = n.lookup('CGG_W', GM_ID=gm_id, L=l)
cgg = w*cgg_w
ft = gm/cgg/2/np.pi

In [35]:
df = pd.DataFrame([gm_id, id, jd, w, cgg, ft], ['gm_id', 'id', 'jd', 'w', 'cgg', 'ft'], columns=['option1', 'option2', 'option3']); df

            option1       option2       option3
gm_id  5.000000e+00  1.500000e+01  2.500000e+01
id     2.000000e-03  6.666667e-04  4.000000e-04
jd     1.197148e-04  6.035974e-06  6.398506e-07
w      1.670637e+01  1.104489e+02  6.251459e+02
cgg    2.925827e-14  1.633295e-13  8.245832e-13
ft     5.439657e+10  9.744409e+09  1.930126e+09